<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Summary }}{{ . }}{{ else }}{{ .Site.Params.description }}{{end }}{{ end }} ">
  <link rel="canonical" href="{{ .Permalink }}" />
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <link rel="stylesheet" href="{{ absURL "css/bulma.css" }}">
  <link rel="stylesheet" href="{{ absURL "fontawesome/css/all.css" }}">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}" />
  <script src="{{ absURL "js/jquery-3.6.0.min.js" }}"></script>
</head>
