{{ define "main" }}
<section class="section">
  <article>
    <div class="columns is-centered">
      <div class="column max-800px">
	<h1 class="title is-1">{{ .Title }}</h1>
	<div class="title subtitle heading is-6">
	  <div class="columns is-vcentered">
	    <div class="column">
	      <div class="columns is-vcentered is-mobile">
		{{ with .Site.Params.authorImage }}
		<div class="column is-narrow">
		  <img src="{{ . }}" class="author-image">
		</div>
		{{ end }}
		<div class="column">
		  <p>{{ .Site.Params.Author }}</p>
		  <p><time>{{ .PublishDate.Format "January 2, 2006" }}</time> | 
		    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else }} minutes {{ end }}</p>
		</div>
	      </div>
	    </div>
	    <div class="column">
	      {{ range $idx, $category := .Params.categories }}
	      {{- if ne $idx 0 }}, {{ end }}<a href="{{ "categories/" | relURL }}{{ $category | urlize }}">{{ $category }}</a>
	      {{- end }}
	    </div>
	  </div>
	</div>
	{{ with .Params.images }}
	<figure class="title-image">
	  <img src="{{ index . 0 }}" alt="">
	</figure>
	{{ end }}
	<div class="content">
	  {{ .Content }}
	</div>
      </div>
    </div>
  </article>
</section>
<section class="section">
  <div class="columns is-centered">
    <div class="column max-800px">
      <div class="columns is-mobile">
        <div class="column has-text-left">
          {{ with .PrevInSection }}
          <p>Previous post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </div>
        <div class="column has-text-right">
          {{ with .NextInSection }}
          <p>Next post</p>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
    <div class="columns is-centered">
        <div class="column max-800px">
            <div class="content">
                <h2>Related content</h2>
            </div>
            <div class="columns">
                {{ $related := (where (.Site.RegularPages.Related .) "Type" "blog") | first 3 }}
                {{ range $related }}
                <div class="column is-one-third">
                    {{ partial "widgets/postcard-small.html" . }}
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
